<template name="home">
	<div id="next-game" class="well">
		<h3 class="table-section">Next Game</h3>
		<div id="game-info">
			<h2><span class="block">Kamikaze Falcons</span>span> vs. <span class="block">Grand Trunk Pub</span></h2>
			<h3>July 29, 2013 - 10:00pm - <span class="block">West Arena</span></h3>
		</div>
		<div style="clear:both"></div>
	</div>
	<div id="home-gallery">
		<img src="coaner.jpg" alt="Jeremy Coan making a save.">
	</div>
	<div class="well">
		<p id="excerpt">When you eliminate all thoughts about life and death, you will be able to totally disregard your earthly life. This will enable you to concentrate your attention on scoring goals with unwavering determination, and reinforce your excellence in puck handling skills.</p>
	<p class="signed-long">—An excerpt from the Kamikaze Falcons manual</p>
	</div>
</template>