<template name="schedule">
	<h2>Schedule</h2>
	<h3>Summer 13 Season</h3>
	<table>
		<tr>
			<th class="table-section">Date</th>
			<th class="table-section">Time</th>
			<th class="table-section">Opponent</th>
			<th class="table-section">Arena</th>
			<th class="table-section">W/L</th>
			<th class="table-section">Score</th>
		</tr>
		<tr class="away">
			<td>May 13</td>
			<td>10:30</td>
			<td>Honey Badgers</td>
			<td>East</td>
			<td>L</td>
			<td>3-6</td>
		</tr>
		<tr class="away">
			<td>May 20</td>
			<td>9:30</td>
			<td>Moose Winooski</td>
			<td>West</td>
			<td>W</td>
			<td>3-0</td>
		</tr>
		<tr class="away">
			<td>June 3</td>
			<td>9:15</td>
			<td>Grand Trunk Pub</td>
			<td>East</td>
			<td>L</td>
			<td>1-11</td>
		</tr>
		<tr class="away">
			<td>June 10</td>
			<td>8:15</td>
			<td>Jets</td>
			<td>East</td>
			<td>L</td>
			<td>0-9</td>
		</tr>
		<tr>
			<td>June 17</td>
			<td>9:15</td>
			<td>Ye Olde Saloon</td>
			<td>East</td>
			<td>L</td>
			<td>1-7</td>
		</tr>
		<tr>
			<td>June 24</td>
			<td>10:15</td>
			<td>Crows</td>
			<td>East</td>
			<td>L</td>
			<td>2-12</td>
		</tr>
		<tr>
			<td>July 1</td>
			<td>11:00</td>
			<td>Gladiators</td>
			<td>West</td>
			<td>L</td>
			<td>2-4</td>
		</tr>
		<tr>
			<td>July 15</td>
			<td>11:00</td>
			<td>Honey Badgers</td>
			<td>West</td>
			<td>L</td>
			<td>2-9</td>
		</tr>
		<tr>
			<td>July 22</td>
			<td>10:15</td>
			<td>Moose Winooski</td>
			<td>East</td>
			<td>W</td>
			<td>4-3</td>
		</tr>
		<tr>
			<td>July 29</td>
			<td>10:00</td>
			<td>Grand Trunk Pub</td>
			<td>West</td>
			<td></td>
			<td></td>
		</tr>
	</table>

	<table class="table-data">
		<tr>
			<td><strong>HOME</strong></td>
			<td class="away"><strong>AWAY</strong></td>
		</tr>
	</table>
</template>